/* hack bootstrap */

.navbar-chocolate {
  background: #3e3a3a;
  height: 50px;
  color: #fff;
  margin-bottom: 0px;
}
#search-collapse {
  padding-top: 50px !important;
  left: -7px;
  right: 0px !important;
}
.navbar-brand > img {
  width: 30px;
}
.nav > li > a {
  color: #fff;
  font-size: 13px;
  padding: 11px 10px;
}
.navbar-brand {
  height: 40px;
  padding: 8px 40px 10px 10px;
}
.navbar-collapse {
  margin-top: 5px;
}
.menu{
  margin-right: -12px;
}
.menu-category{
  margin-right: -3px;
}
.w-2000 {
  width: 2000px;
}
.w-100 {
  width: 100%;
}
.w-70 {
  width: 70%;
}
#myTabs {
  margin-top: -49px;
  padding-right: 3px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #5A5555 !important;
  border: none;
  color: #fff !important;
}
.menu > li > a:hover,
.menu > li > a:focus {
  color: #e4ac39;
  background: transparent;
}
hr {
  margin-top: 10px !important;
}
.row-custom{
  margin-left: -10px;
  margin-right: -10px;
}