.jssort12 .w {
    cursor: pointer;
    position: absolute;
    width: 130px;
    height: 40px;
    top: 0px;
    left: 0px;
    border: 1px solid #d4d4d4;
    border-right: none;
}

.jssort12 .p {
    position: absolute;
    width: 130px;
    height: 40px;
    top: 0;
    left: 0px;
    padding: 0px;
}
.jssort12{
  height: 40px;
}
.jssort12 .pav .w,
.jssort12 .pdn .w {
    border-bottom: none;
}

.jssort12 .c {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 28px;
    text-align: center;
    color: #a4a4a4;
    padding: 5px;
    font-size: 13.0px;
}

.jssort12 .p .c,
.jssort12 .pav:hover .c {
    background-color: #eee;
}

.jssort12 .pav .c,
.jssort12 .p:hover .c {
    color: #17ae97;
    background-color:#fff;
    border-top: 3px solid #17ae97;
}
.thumb{
  left: 0px !important;
}
.slide-style{
  position: relative; 
  margin: 0 auto; 
  top: 0px; 
  left: 0px; 
  width: 600px; 
  height: 2000px; 
  overflow: hidden; 
  visibility: hidden; 
  background-color: #ffffff;
}
.wrap-slide{
  cursor: default; 
  position: relative; 
  top: 50px;
  left: 0px;
  width: 598px; 
  height: 2000px; 
  overflow: hidden; 
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  .wrap-slider-outer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 318px;
    display: inline-block;
    padding-left: 10px;
  }
   .wrap-slide{
    left: -200px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
  .wrap-slide{
    left: -200px !important;
    width: 800px !important;
  }
  .row-res{
    margin: 0px;
  }
  .wrap-slider-outer{
    width: 470px;
    padding-left: 6px;
  }
}